article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    background-image: url("../images/background2.png");
    font-family: 'Open Sans',
        sans-serif;
    background-color: white;
}

/* .wrapper {
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
} */

header,
main,
footer {
    padding: 2%;
}

/* Header
-----------------------------------------------------------------------------*/
/*< #header {
    height: auto;
    background-color: #8175ED;
    /* For browsers that do not support gradients */
/*background-image: linear-gradient(#8175ED, #764049);
/* Standard syntax (must be last) */
/*opacity: 0.5;

}

*/

#background {}

#logosection {
    padding-left: 2em;
    max-width: 25%
}

#logo {
    max-width: 28%;
    float: left;
    margin-top: 1px;
    padding: 1px;
    display: none;

}


.logo-section {}

#nav-desktop {
    display: none;

}


#nav-icon a {

    color: aqua;
    font-size: 1.5em;
    padding: 0.3em;
    background-color: #8175ED;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#8175ED, #764049);
    /* Standard syntax (must be last) */
    opacity: 0.5;
}

#nav-icon {
    text-align: center;
    padding: 10px;
    margin-top: 1em;
    color: aqua;

}

#nav-mobile {
    text-align: center;
    background-color: #8175ED;
    font-size: 1.4em;
    color: #F7F48D;
    text-decoration: none;
    font-family: 'Open Sans',
        sans-serif;
    list-style-type: none;
}

#nav-mobile li {
    padding: 0.8em;
    border-bottom: 3px solid #F7F48D;
    color: #F7F48D;
    background-color: #8175ED;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#8175ED, #764049);
    /* Standard syntax (must be last) */
    opacity: 0.7;
    list-style-type: none;

}

#nav-desktop a {
    text-decoration: none;
    color: #fff;
    padding: 6px;
    font-size: 0.1em;
    display: none;

}

#nav-mobile a {
    text-decoration: none;
    color: aqua;
    padding: 4px;
    font-size: 0.8em;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 0.7em;
    list-style-type: none;


}

a {
    text-decoration: none;
}

#nav-desktop a:hover {


    color: #F7F48D;

    opacity: 1;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {}

#images {

    max-width: 100%;
    text-align: center;

}

img {
    padding: 0.5em;
}

img:hover {

    background-color: blue;
    opacity: 0.4;

}

h1 {
    text-align: center;
    color: #d699ff;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 3em;
    padding-top: 3em;
    line-height: 1.6em;
    font-family: 'Ubuntu', sans-serif;

}


/*h1:hover + h2 {
    display: block;


}

h1:hover {
    opacity: 0;

}
*/

h6 {
    font-family: 'Akrobat Thin', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.3em;
    color: #8175ED;
    text-align: center;
    margin: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin-bottom: 0.1em;
    height: 5vw;
    padding: 1px;
    background-color: #8175ED;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#8175ED, #764049);
    /* Standard syntax (must be last) */
    opacity: 0.7;
}



@media only screen and (min-width: 480px) {
    #header {
        height: 5vw;
        background-color: #8175ED;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(#8175ED, #764049);
        /* Standard syntax (must be last) */
        opacity: 0.7;

    }

    #logo {
        display: block;
    }

    #nav-desktop {
        display: block;
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;


    }



    #nav-desktop li a {

        padding: 1em;
        display: block;
        color: aquamarine;
        font-size: 2em;
        text-align: center;

    }

    #nav-desktop li {

        display: inline;
        float: right;
        font-size: 2em;

        font-size: 1.5vw;

    }

    #nav-icon {
        display: none;
    }

    #nav-mobile {
        display: none;
    }


}

@media only screen and (min-width: 520px) {
    header {}

    #imageandtext {
        width: 33%;
    }


}

@media only screen and (min-width: 700px) {
    header {}


    h1 {
        text-align: center;
        color: #d699ff;
        font-size: 2em;
        padding-left: 3em;
        padding-right: 3em;
        margin-bottom: 3em;
        padding-top: 3em;
        line-height: 1.6em;
        font-family: 'Ubuntu', sans-serif;

    }

    #nav-desktop li a {

        display: block;
        color: aquamarine;
        font-size: 1.2em;
        text-align: center;

    }

    #flex {
        display: flex;
    }

    #image {
        width: 60%;
    }

    #text {
        width: 40%;
    }

    @media only screen and (min-width: 1000px) {
        header {}

        #wrapper {
            width: 1000px;
            margin: 0 auto;

        }

    }

    @media only screen and (min-width: 1024px) {
        header {
            background-color: darkgoldenrod;
        }

        #nav-desktop {
            text-align: right;
        }

        #nav-desktop li {
            display: inline;
            font-size: 1em;
            margin: 0.1em;
            font-size: 1.5vw;
            padding: 0px;

        }


    }

    #nav-desktop li a:hover {}
